```python
sys.stdout.write("Python example missing. Why not contribute one for us?")
```

```shell
curl -X DELETE https://api-sandbox.oftrust.net/calendar/v1/calendar/67fa7be3-0c7d-4318-a09a-585181d1e6f3 \
-H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzY29w...DVs5aaf"
```

```javascript
console.error("Javascript example missing. Why not contribute one for us?");
```


```java
System.out.print("Java example missing. Why not contribute one for us?");
```

> The above example should return header structured like this:

```json
HTTP/1.0 204 No Content
```
