dist: xenial

language: python
python:
  - "3.6"

env:
  global:
    - NODE_VERSION="10"
    # Required by code-example-generator tool.
    # Accepted  values are http and https
    - SCHEME=https
    # Output folder for code examples
    - CODE_EXAMPLES=$TRAVIS_BUILD_DIR/code-examples
    # - host for API testing
    # - authorization token to use (must be defined in secret env vars in travis-ci)
    #   should be used as "Bearer ${AUTH_TOKEN}"
    - HOST=api-sandbox.oftrust.net AUTH_TOKEN=$TESTING_ACCESS_TOKEN
    # Specify location for code-examples-validator configuration.
    # https://github.com/PlatformOfTrust/code-examples-validator#configuration
    - VALIDATOR_CONF=$TRAVIS_BUILD_DIR/scripts/code-examples/validator_conf.yml

git:
  submodules: false

before_install:
  - nvm install $NODE_VERSION
  - nvm alias default node
  - ./setup.sh

install:
   # Install all the dependecies required to
   # generate and validate code examples based
   # on API specification in `raml2markdown/src`.
   - ./scripts/code-examples/install-deps.sh

script:
  # Generate code examples from RAML files.
  - ./scripts/code-examples/generate.sh
  # Validate code examples.
  # API is currently unstable - thus ignore the
  # result of validation for now.
  - ./scripts/code-examples/validate.sh || true

  # Build API documentation
  - cd raml2markdown/
  - ./build.py
  - cd ..
  - echo 'docs.oftrust.net' > build/CNAME
  - cp -R keys ./build/

# Deploy to GitHub pages.
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: build
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  repo: PlatformOfTrust/docs
  on:
    branch: master
