language: python
python:
  - "3.6"

before_install:
  - ./setup.sh

install: true

script:
  - cd ./raml2markdown/
  - ./build.py


# Deploy to GitHub pages
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: build
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  repo: PlatformOfTrust/docs
