#%RAML 1.0
---
title: Context
version: v1
baseUri: https://api-sandbox.oftrust.net
mediaType: application/json
description: |
  The Context API provides means to list available JSON-LD contexts in the
  PlatformOfTrust/standards repository in GitHub.

  The contexts defines the semantic meaning of the keys in the responses from the APIs.
  When creating a new identity, choose which type of identity to create by
  choosing the correct context. The context will then define the attributes the
  identity can have.
types:
  context:
    type: object
    properties:
      type:
        description: |
          The type of the context: either "Identity", which is used for identities,
          or "Link", which is used for linking identities.
        type: string
        example: Identity
      name:
        description: The name of the context.
        type: string
        example: Building
      url:
        description: The URL to the context. This should be saved as the context for the identity or link.
        type: string
        example: https://example.com/contexts/identity-building.jsonld
/contexts/{version}:
  description: Context handling
  get:
    description: Returns a list of all defined contexts
    responses:
      200:
        body:
          properties:
            '@context':
              description: The context URL
              type: string
              example: https://schema.org/
            '@type':
              description: The type of the response object
              type: string
              example: collection
            ItemList:
              description: The list of contexts
              type: context[]
          example: |
            {
              "@context": "https://schema.org/",
              "@type": "collection",
              "ItemList": [
                {
                  "type": "Identity",
                  "name": "Building",
                  "url": "https://example.com/contexts/identity-building.jsonld"
                },
                {
                  "type": "Link",
                  "name": "Owner",
                  "url": "https://example.com/contexts/link-owner.jsonld"
                }
              ]
            }
